
.upvote, .downvote {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(238, 238, 238);
  
    &.active {
      color: #ff0000;
    }
  
    &:hover {
      color: #ff0000;
      cursor: pointer;
    }
  }
  