<div class="container">
    <div class="row align-items-center">
        <div class="col-12 pt-3 pb-3 mb-4 border-bottom">
            <div class="float-end">
            
                <%= link_to "log in", new_account_session_path, class: "btn btn-outline-primary" %>
                <%= link_to "sign up", new_account_registration_path, class: "btn btn-primary" %>
            </div>
            <p class="h3">Letdit</p>
        </div>
    </div>
</div>