<div class="container">
    <div class="row align-items-center">
        <div class="col-12 pt-3 pb-3 mb-4 border-bottom">
            <div class="float-end">
                <% if account_signed_in? %>
                    <%= link_to "sign out", destroy_account_session_path, method: :delete,class: "btn btn-outline-primary" %>
                <% else %>
                    <%= link_to "log in", new_account_session_path, class: "btn btn-outline-primary" %>
                    <%= link_to "sign up", new_account_registration_path, class: "btn btn-primary" %>
                <% end %>
            </div>
            <p class="h3"><%= link_to "Lettdit", root_path %></p>
        </div>
    </div>
</div>